.auth-page{
    margin: 3rem auto 3rem auto;
    max-width: 60vw;
    background-color: var(--primary-color);
    padding:  var(--scale-xl);
    gap: 3rem;
    border-radius:  var(--scale-xl);
}
.form-container{
    box-shadow: none;
    width: 40rem;
    border-radius:  var(--scale-xl);
}
.auth-img{
    object-fit: cover;
    height: auto;
    width: 30vw;
}